#======== File I/O ===============
InputFile                     : DayStreet_3840x2160_60p_10bit_420_hlg.yuv
InputBitDepth                 : 10          # Input bitdepth
InputChromaFormat             : 420         # Ratio of luminance to chrominance samples
FrameRate                     : 60          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 3840        # Input  frame width
SourceHeight                  : 2160        # Input  frame height
FramesToBeEncoded             : 300         # Number of frames to be coded

Level                         : 5.1

#======== Chroma QP scale =============
WCGPPSEnable                  : 0           # enable WCG Chroma scale

# ======== Luma adaptive QP ========
LumaLevelToDeltaQPMode        : 0           # Change luma delta QP based on average luma

